{% extends "layout.html" %}

{% block page_title %}
Express/Node starter app
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Starter App
                <h2 class="heading-large">NodeJS / Express / GDS application</h2>

                <p>
                    Based on the The GOV.UK prototype kit
                </p>

                <p class="code">
                    > Hello World
                </p>

        </div>
    </div>
</main>

{% endblock %}


